body{
    background-color: #FFFC00;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 0;
    height: 100vh;
    flex-direction: column;
  }
  .container{
    width:700px;
    height:40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content:center ;
    color: black;
    font-family: cursive;
    font-size: 25px;
  }
  .image{
    width: 100px;
    height: 100px;
  }
  .button{
    margin-top:15px;
    margin-bottom: 15px;
    background-color: black;
    border-radius: 20px;
    padding:10px 20px;
    color: white;
    border: none;
    cursor:pointer;
}